doctype
html
  head
    include ../../inc/head
  body

    include ../../inc/header
    
    .content
      .box
        .box__content
          div(class="box__head")
            div(class="semititle" data-txt="coping.title")
            a(href="../../home.html" class="box__link" data-txt="home.link")
          p(class="box__p" data-txt="coping.p1")
          p(class="box__p" data-txt="coping.p2")
          .space
          p(class="box__p" data-txt="coping.p3")
          p(class="box__p" data-txt="coping.p4")
          p(class="box__p" data-txt="coping.p5")
          .space
          p(class="box__p" data-txt="coping.p6")
          .space
          div(class="box__p")
            span(data-txt="coping.p7.txt")
            ol.box__list
              li(data-txt="coping.p7.a")
              li(data-txt="coping.p7.b")
              li(data-txt="coping.p7.c")
              li(data-txt="coping.p7.d")
              li(data-txt="coping.p7.e")
              li(data-txt="coping.p7.f")
              li(data-txt="coping.p7.g")
          div(class="box__p")
            span(data-txt="coping.p8.txt")
            ol.box__list
              li(data-txt="coping.p8.a")
          .space
          p(class="box__p" data-txt="coping.p9")
          p(class="box__p" data-txt="coping.p10")
          p(class="box__p" data-txt="coping.p11")
          .space
          p(class="box__p" data-txt="coping.p12")
          div.box__img
            img(src="../images/d.jpg")
          div(class="box__src" data-txt="google")

    include ../../inc/scripts