doctype
html
  head
    include ../../inc/head
  body

    include ../../inc/header
    
    .content
      .box
        .box__content
          div(class="box__head")
            div(class="semititle" data-txt="symptoms.title")
            a(href="../../home.html" class="box__link" data-txt="home.link")
          p(class="box__p" data-txt="symptoms.p1")
          div(class="box__p")
            span(data-txt="symptoms.p2.txt")
            ol.box__list
              li(data-txt="symptoms.p2.a")
              li(data-txt="symptoms.p2.b")
              li(data-txt="symptoms.p2.c")
          div(class="box__p")
            span(data-txt="symptoms.p3.txt")
            ol.box__list
              li(data-txt="symptoms.p3.a")
              li(data-txt="symptoms.p3.b")
              li(data-txt="symptoms.p3.c")
              li(data-txt="symptoms.p3.d")
              li(data-txt="symptoms.p3.e")
              li(data-txt="symptoms.p3.f")
              li(data-txt="symptoms.p3.g")
          div(class="box__p")
            span(data-txt="symptoms.p4.txt")
            ol.box__list
              li(data-txt="symptoms.p4.a")
              li(data-txt="symptoms.p4.b")
              li(data-txt="symptoms.p4.c")
          p(class="box__p" data-txt="symptoms.p5")
          p(class="box__p" data-txt="symptoms.p6")
          p(class="box__p" data-txt="symptoms.p7")
          div(class="box__src" data-txt="google")

    include ../../inc/scripts