doctype
html
  head
    include ../../inc/head
  body

    include ../../inc/header
    
    .content
      .box
        .box__content
          div(class="box__head")
            div(class="semititle" data-txt="treatment.title")
            a(href="../../home.html" class="box__link" data-txt="home.link")
          div(class="box__p")
            span(data-txt="treatment.p1.txt")
            ol.box__list
              li(data-txt="treatment.p1.a")
              li(data-txt="treatment.p1.b")
              li(data-txt="treatment.p1.c")
              li(data-txt="treatment.p1.d")
              li(data-txt="treatment.p1.e")
              li(data-txt="treatment.p1.f")
              li(data-txt="treatment.p1.g")
              li(data-txt="treatment.p1.h")
              li(data-txt="treatment.p1.i")
              li(data-txt="treatment.p1.j")
              li(data-txt="treatment.p1.k")
              li(data-txt="treatment.p1.l")
              li(data-txt="treatment.p1.m")
          div(class="box__p")
            span(data-txt="treatment.p2.txt")
            ol.box__list
              li(data-txt="treatment.p2.a")
              li(data-txt="treatment.p2.b")
          p(class="box__p" data-txt="treatment.p3")
          div.box__img
            img(src="../images/c.jpg")
          div(class="box__src" data-txt="google")
    
    include ../../inc/scripts