
.loader
  .loader__content
    .loader__icon
      img(src=path+"/images/virus.png")


.buttons
  button(id="lang" class="btn --alt-font") English
  button(id="theme" class="btn --en") Dark


div(class="title" data-txt="title")