
//- meta charset
meta(charset="UTF-8")

//- title
title Corona Virus "Covid-19"

//- set the path variable
-var path = home ? 'data' : '../'

//- icon
link(rel="icon" href=path+"/images/virus.png")

//- main stylesheet
link(rel="stylesheet" href=path+"/sheets/main.css")